<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p></p><a href='./'>Home</a></p>
    <p>here user can calculate and display nutritional facts for their recipes or meals based on food ingredients in the recipe or the meal. </p>
    <p>Name – Rishi Sankhla<br>
      Student No. – 33724434
      </p>
  </body>
</html>