<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to the home page of <%=shopName%></h1>
    <p><a href="about">About page</a></p>
    <p><a href="addfood">add food page</a></p>
    <p><a href="search">search food page</a></p>
    <p><a href="update">update food page</a></p>
    <p><a href="list">list page</a></p>
    <p><a href="login">login</a></p>
    
    <p><a href="register">Register with us</a></p>
    
    <p><a href="logout">log out</a></p>
  </body>
</html>
